<section class="ui segment">
  <div class="ui compact segment">
  <div class="ui medium image">
    <label class="ui ribbon label">
    	<a class="ui ${user.theme} header">Thumbnail Image</a>
    </label>
    <img src="/profile/getthumbnail/${user.id}">
  </div>
  <section class="ui form">
    <form action="/profile/uploadthumbnail/${user.id}" method="post" enctype="multipart/form-data">     
      <div class="ui field">
        <input type="file" name="picture"></input> 
     </div>     
     <button class="ui ${user.theme} submit button"> Upload</button>       
    </form>        
  </section>  
  </div> 

  <table class="ui inverted ${user.theme} table segment">
    <thead>
      <tr>
        <th>Email</th>
        <th>Nationality</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>${user.email}</td>
        <td>${user.nationality}</td>
        <td>${user.age}</td>
      </tr>
    </tbody>
  </table>

   
</section>  
